@import 'styles/style';

:local {

  .wrap {
    width: 100%;
    position: relative;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;

    .ticket {
      background: $colorSecondary;
      padding: 8px 10px;
      border-radius: 3px;
      color: white;
      font-size: 13px;
      font-weight: 600;
    }

    .ticketPlaceholder {
      height: 32px;
    }

  }

}