@import 'styles/style';

:local {

  .wrap {
    height: 100%;
    flex-grow: 1;
    flex-basis: 0;

    &:not(:last-child) {
      border-right: solid 1px $dayBorderColor;
    }

    .dayHeader {
      padding: 6px;
      font-size: 15px;
      display: flex;

      .badge {
        padding: 5px 8px;
        border-radius: 3px;
      }

    }

    &.isPastDay{
      .dayHeader {
        color: #aaa;
      }
    }

    &.isToday {
      .dayHeader .badge {
        background-color: $colorPrimary;
        color: white;
        font-weight: 500;
      }
    }

  }

}