@import 'styles/style';

:local {

  .wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;

    .wrapMonthHeader {
      h2 {
        margin: 0;
        padding: 10px 15px;
      }
    }

    .wrapWeekHeaders {
      display: flex;
      border-top: solid 1px $dayBorderColor;
      border-bottom: solid 1px $dayBorderColor;

      .weekHeader {
        flex-grow: 1;
        flex-basis: 0;
        padding: 8px 14px;
        font-size: 12px;

        &:not(:last-child) {
          border-right: solid 1px $dayBorderColor;
        }

      }

    }

  }

}