@import 'styles/style';

:local {

  .wrap {
    flex: 1;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;

    .wrapWeek {
      width: 100%;
      min-height: $weekH;
      max-height: $weekH;
      display: flex;
      border-bottom: solid 1px $dayBorderColor;
    }

  }

}